

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count:1;
        -moz-column-count:1;
        column-count:1;
    }
}

.navbar{
    position:fixed;
    z-index:1;
    width:100%;
}

body{
    align-items: center;
}

.hide {
    display: none;
}

#deck{
    border: 28px solid transparent
}
.title{
    font-size: 11px;
    font-weight: bold;
    text-align:left;
}
.info{
    font-size: 12px;
}


.card{
    max-width: 340px;
}

.card-img{
    width: 170px;
    height: 240px;
}
p{
    line-height: 1.2;
    margin:3% 0;
}

#addBook{
    align-items: center;
    border-radius: 50%;
    padding: 0;
    right: 5%;
    z-index:1;
    position: fixed;;
    top:80%;
}

#addBook img {
    width: 50px;
}
.nav-item img {
    width: 30px;
}
img {
    width: 20px;
}
.nav-link{
    font-size: 20px;
}

.form-group {
    align-items: center;
}

.edit {
    width: 40px;
    
}
.loan{
    width: 40px;
   
}

@media (max-width: 970px) {
    .card-img{
        width: 290px;
        height: auto;
        margin-left: 7%;
        margin-top: 5%;
    } 
    .card-footer{
        margin-bottom: 20%;
    }
    .edit {
        width: 55px;
        margin-left: 20%;
    }
    .loan{
        width: 55px;
        margin-left: 20%;
    }

    .title{
        font-size: 15px;
        font-weight: bold;
        text-align:left;
    }
    .info{
        font-size: 18px;
    }
    
}



